<h2>Dashboard</h2>

<h4>Hi, {{username}}!</h4>
{{#if blogs.length}}
<h5>You have made {{blogs.length}} posts.</h5>
<p><a href="#blog-title">Click here to make another blog post</a></p>
{{else}}
<h5>You haven't made any posts. Make a new one below!</h5>
{{/if}}

{{#each blogs as |blog|}}
<div class="blogCard">
    <a href="/blog/{{blog.id}}">
        <div class="blogHeader">
            <h3 id="blogTitle{{blog.id}}">{{blog.title}}</h3>
        </div>
        <p id="blogContent{{blog.id}}">{{blog.content}}</p>
        <p class="footerText">Created by you on {{ format_date blog.date_created}}</p> 
    </a>
        <button class="btn btn-primary deletebutton dashboardButtons" data-id="{{blog.id}}">Delete Blog</button>
        <button class="btn btn-primary updatebutton dashboardButtons" data-id="{{blog.id}}">Update Blog</button>
        <form id="update-form{{blog.id}}" class="form originallyHidden">
            <div class="form-group update-blog-form">
                <label for="update-blog-title">Blog Title: </label>
                <input class="title-form-input{{blog.id}}" type="text" name="update-blog-title" />
            </div>
            <div class="form-group">
                <label for="blog-content">Content:</label>
                <textarea class="content-form-input{{blog.id}}" id="update-blog-content" name="blog-content"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary saveUpdateButton" data-id="{{blog.id}}">Update</button>
            </div>
    </form>
  </div>
</div>
{{/each}}

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Blog Title: </label><br>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-content">Content:</label><br>
        <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <script src="/js/dashboard.js"></script>